@model IEnumerable<LeaveManagementSystem.Web.Data.LeaveType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
                <td>
                    <a asp-action="Edit" class="text-decoration-none px-3 py-2 bg-warning text-dark rounded" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="text-decoration-none px-3 py-2 bg-success text-white rounded" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="text-decoration-none px-3 py-2 bg-danger text-white rounded" asp-route-id="@item.Id">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>
